<!DOCTYPE html>
<html ng-module="redditPosts" lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Richman Morebucks Reddit</title>
    <link rel="stylesheet href=style.css">
  </head>
  <body ng-app="redditMod" ng-controller="redditCtrl">

<input type="text"  ng-model="Subreddit" placeholder="Enter Name">
<input type="text" ng-model="Search "placeholder="Search">
<button type="submit"></button>






<script><https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js></script>
<script src="module.js"></script>
<script src="inputcontroller.js"></script>
<script src="display controller.js"></script>

</body>
</html>
